.breadcrumb {
  padding-top: 20px;

  @media(min-width:820px) {
    padding-top: 24px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__item {
    cursor: pointer;
  }

  &__link {
    color: #969EAE;
  }

  // &__separator {}
}