.card {
  position: relative;

  @media(min-width:580px) {
    display: grid;
    // gap: 5px;
    grid-template-areas:
      "img img"
      "title price"
      "btn btn";
  }

  &__link {
    &_img {
      margin-bottom: 12px;
      display: block;

      @media(min-width: 580px) {
        grid-area: img;
        margin-bottom: 16px;
      }
    }
  }

  // &__link {}

  &__img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 151/125;
  }

  &__title {
    grid-area: title;
    margin-bottom: 4px;
    font-weight: 400;

    @media(min-width: 580px) {
      margin-bottom: 20px;
      font-size: 16px;
      max-width: 151px;
      padding-top: 3px;
    }

    @media(min-width: 820px) {
      margin-bottom: 20px;
      font-size: 16px;
      max-width: none;
    }
  }

  &__price {
    margin-bottom: 12px;
    font-size: 16px;

    @media(min-width: 580px) {
      grid-area: price;
      font-size: 20px;
      margin-left: auto;
    }

    @media(min-width: 820px) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    color: #780096;
    text-align: center;
    display: block;
    padding: 12px 24px;
    border: 1px solid #780096;
    border-radius: 32px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover,
    &:active {
      color: #ffffff;
      background-color: #780096;
    }

    &:focus-visible {
      border: 1px solid #CC00FF;
    }

    @media(min-width: 580px) {
      grid-area: btn;
    }
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  & svg {
    color: #fff;
    transition: color .3s ease-in-out;
  }

  & svg:hover {
    color: #780096
  }
}