.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;


  &__link {
    &_img {
      margin-bottom: 12px;
      display: block;

      @media(min-width: 580px) {
        margin-bottom: 16px;
      }
    }
  }

  // &__link {}

  &__img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 7/6;

    @media(min-width: 580px) {
      aspect-ratio: 23/20;
    }

    @media(min-width: 820px) {
      aspect-ratio: 302/250;
    }

    @media(min-width: 1120px) {
      aspect-ratio: 350/290;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-grow: 1;

    @media(min-width: 820px) {
      margin-bottom: 20px;
    }


  }

  &__title {
    font-weight: 400;

    @media(min-width: 580px) {
      font-size: 16px;
      width: min-content;
      padding-top: 3px;
    }

    @media(min-width: 820px) {
      font-size: 16px;
    }

    @media(min-width:1240px) {
      width: auto;
    }
  }

  &__price {
    font-size: 16px;

    @media(min-width: 580px) {
      font-size: 20px;
    }

  }

  &__btn {
    color: #780096;
    text-align: center;
    display: block;
    padding: 12px 35px;
    border: 1px solid #780096;
    border-radius: 32px;
    width: 100%;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;


    &:hover,
    &:active {
      color: #ffffff;
      background-color: #780096;
    }

    &:focus-visible {
      border: 1px solid #CC00FF;
    }

    @media(min-width: 580px) {
      grid-area: btn;
    }
  }

  & svg {
    fill: #fff;
    transition: fill .3s ease-in-out;
  }

  & svg:hover {
    fill: #780096
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;

    &_active svg {
      fill: gold;
    }
  }


}