.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEFF2;

  &__container {
    display: grid;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
      "logo control"
      "search search";

    @media(min-width: 820px) {
      grid-template-areas: "logo search control";
      grid-template-columns: 94px 1fr auto;
    }
  }

  &__link-logo {
    grid-area: logo;
    justify-self: start;
  }

  &__logo {
    width: 94px;
  }

  &__search {
    grid-area: search;
    position: relative;
    width: 100%;
    height: 38px;

    @media(min-width: 820px) {
      max-width: 408px;
      justify-self: center;
    }

    @media(min-width: 1120px) {
      max-width: 514px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 0 40px 0 24px;
    border: none;
    background-color: #EEEFF2;

    &::placeholder {
      color: #969EAE
    }

    &:focus-visible,
    &:hover {
      outline: 1px solid #DFE3EB
    }
  }

  // кнопка поиск
  &__btn {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    outline-offset: 4px;
    outline: 1px solid transparent;

    &:hover,
    &:active {
      color: #780096
    }

    &:focus-visible {
      color: #780096;
      outline-color: #780096;
    }
  }

  &__control {
    display: flex;
    gap: 16px;
    grid-area: control;
    justify-self: end;
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    outline: 1px solid transparent;
    border-radius: 6px;
    transition: color .5s ease;

    &:hover,
    &:active,
    &:focus-visible {
      color: #780096;

      svg {
        fill: #780096;
      }
    }

    &:focus-visible {
      color: #780096;
      outline-color: #780096;
    }

    @media(min-width: 580px) {
      flex-direction: row;
      gap: 5px;
    }
  }

  &__link-text {
    display: none;

    @media(min-width: 580px) {
      display: inline-block;
    }


  }

}