.order {

  &__container {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  &__info {}

  &__head {}

  &__title {}

  &__price {}

  &__number {}

  &__data {}

  &__data-title {}

  &__data-table {}

  &__btn {}
}